.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  border-bottom: 2px solid #f1f1f1;
}

.link {
  color: #323232;
  font-size: 1.2rem;
  font-weight: 500;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation {
  display: flex;
  gap: 1.5rem;
}
