.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    display: flex;
    justify-content: flex-end;
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    background: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(7, 7, 7, 0.7);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.sidebarContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1.6rem;
    color: #6f6f6f;
    cursor: pointer;
}