.BusinessDescription {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  .descriptionTitle {
    font-size: 2rem;
  }
  .description {
    font-size: 1.1rem;
    line-height: 1.5;
    color: $plain-text-grey;
  }
}
